---
import Featured from "@/components/sections/Featured.astro";
import Hero from "../components/sections/Hero.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Gallery from "@/components/sections/Gallery.astro";
---

<BaseLayout>
  <Hero />
  <div class="grid--xxl">
    <Featured />
    <Gallery />
  </div>
</BaseLayout>

<style>
  .grid--xxl {
    margin: var(--size-fluid-4) auto;
    padding-inline: var(--size-fluid-2);
  }
</style>
